.searchFrom{

    display: flex;
    align-items:center;

    input{

    width: 16vw;
    padding: 0px 14px 0px 55px;
    height: 3rem;
    position: relative;
    background-color: #f4f4f4;
    border-radius: 9px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.15);


    }

    
}